---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Slova - Casos Gramaticais";
import alphabet from '../data/alfabeto.json';
import words from '../data/palavras.json';
import sections from '../data/trechos.json';
import numerals from '../data/numerais.json';
---
<Layout pageTitle={pageTitle}>
  <h1 class="text-(--primary) text-5xl sm:text-4xl md:text-6xl lg:text-7xl font-bold text-center mb-2 mt-5">
   Introdução ao Eslavo Eclesiástico
  </h1>
  <p class="text-center mb-10">
    <a href="/slova/" class="text-(--detail) hover:underline text-sm">
      Voltar ao início
    </a>
  </p>
  <h2 class="text-3xl font-bold text-center mb-10 text-(--primary)">
    Alfabeto
  </h2>
  <div class="container mx-auto text-center text-white flex flex-wrap justify-around">
    {alphabet.map((i) =>
    <div class="max-[425px]:mb-10 min-[425px]:mb-20 mx-3">
      <p class="slavonic max-[620px]:text-5xl min-[620px]:text-7xl text-(--secondary)">
        {i.letter}<span class="ml-1 max-[620px]:hidden text-(--detail) text-sm">
	  {i.name}
        </span>
      </p>
      <p class="text-(--detail) min-[620px]:hidden text-[10px]">{i.name}</p>
      <p class="max-[620px]:text-[12px] min-[620px]:text-sm">{i.phoneticEquivalency} | 
        <span class="slavonic text-[20px] max-[620px]:text-[15px]">{i.example}</span>
      </p>
      <p class="max-[620px]:text-[10px] min-[620px]:text-sm">{i.pronunciation} | {i.translation}</p>
    </div>
    )}
  </div>
  <p class="text-start text-(--detail) text-sm">
    ¹ Lê-se "piêdade", "ôtôrrino"; <a class="underline" href="#2">veja aqui.</a><br/>
    ² *<br/>
    ³ Gutural, <a class="underline" href="#3">veja aqui.</a><br/>
    ⁴ Som "sh" mais forte, em comparação com o anterior "x".<br/>
    ⁵ Gutural, <a class="underline" href="#3">veja aqui.</a><br/>
  </p>
  <hr class="my-5 text-(--detail)"/>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Notas da Transliteração
  </h2>
  <div class="margin-x-auto text-white text-lg">
    <div class="flex justify-start">
      <div id="1" class="slavonic text-(--secondary) text-3xl">№.</div> 
      <div class="ml-3 mt-[6px]">
	No Eslavo Eclesiástico, palavras de grande solenidade, ou usadas frequentemente, 
	são abreviadas nos livros litúrgicos. Isso é reconhecido pela acentuação 
	em algum lugar da palavra, como: <span class="slavonic text-2xl">9, D, рb, жc, цd</span>.
      </div>
    </div>
    <div class="ml-13">
      <table class="w-5 text-2xl">
        <tr>
          <td class="border-none! slavonic">Б9е</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Боже</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">ГDи</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Господи</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">Трbце</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Троице</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">Бцdе</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Богородце</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">Дв7о</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Дево</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">С™hй</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Свzтhй</td>
        </tr>
        <tr>
          <td class="border-none! slavonic">Нб7си</td>
          <td class="border-none! slavonic pl-1 pr-3">→</td>
          <td class="border-none! slavonic">Небеси</td>
        </tr>
      </table>
    </div>
    <div class="flex justify-start mt-5">
      <div id="2" class="slavonic text-(--secondary) text-3xl">в7.</div> 
      <div class="ml-3 mt-[6px]">
        As vogais no Eslavo devem ser lidas de maneira fechadas (/e/ e não /ɛ/),
	sempre que possível: "Gôspôd", não "Góspod"; "Pômilui", não "Pómilui";
	"Stradániiê", não "Stradániié".
      </div>
    </div>
    <div class="flex justify-start mt-5">
      <div id="3" class="slavonic text-(--secondary) text-3xl">G.</div> 
      <div class="ml-3 mt-[6px]">
	Existem sons guturais no Eslavo que são desconhecidos pelo Português. 
	Dois dos mais proeminentes são o "<span class="slavonic text-2xl">Х х</span>" 
	(algo como /ʁ/) e o "<span class="slavonic text-2xl">Ы ы</span>" (algo como /ɨ/).<br/>
	<div class="slavonic text-2xl ml-3">- Христосъ, сохрани:</div>
	<div class="ml-10">
	  Aqui, o som é semelhante ao ca[rr]o do Espanhol. 
	  Transliterarei como "ʁ" (ʁristos, Soʁrani). Muitas vezes lê-se "Khristôs" e "Sorr-râni".
	</div>
	<div class="slavonic text-2xl ml-3 mt-3">- Сыну, С™hй:</div>
	<div class="ml-10">
	  Aqui, o som é semelhante ao m[y]th do Inglês: um som entre o "u" e o "i",
	  com proeminência do "i". Transliterarei como "y" (Synu, Sviatýi).
	</div>
      </div>
    </div>
  </div>
  <hr class="my-5 text-(--detail)"/>
  <h2 class="text-3xl font-bold text-center mt-10 mb-5">
    Palavras comuns dos Serviços Litúrgicos
  </h2>
  <div class="container mx-auto mb-10 max-[500px]:text-center max-[500px]:flex max-[500px]:flex-wrap">
    {words.map((i) =>
    <div class="px-5 mb-5">
      <p class="slavonic text-4xl text-(--secondary)">{i.word}</p>
      <p class="text-sm text-white">{i.pronunciation}</p>
      <p class="text-sm text-(--detail)">{i.translation}</p>
    </div>
    )}
  </div>
  <hr class="text-(--detail)"/>
  <h2 class="text-3xl font-bold text-center mt-10 mb-5">
    Trechos comuns dos Serviços Litúrgicos
  </h2>
  <div class="container mx-auto mb-10">
  {sections.map((i) =>
    <div class="mb-10">
      <p class="slavonic text-4xl">{i.section}</p>
      <p class="text-white text-md">{i.pronunciation}</p>
      <p class="text-(--detail) text-sm">{i.translation}</p>
    </div>
  )}
  </div>
  <hr class="my-5 text-(--detail)"/>
  <h2 class="text-3xl font-bold text-center mt-10 mb-5 text-(--primary)">
    Numerais
  </h2>
  <div class="container mx-auto text-white flex flex-wrap justify-around">
    {numerals.map((i) =>
    <div class="mb-10 max-[425px]:mx-2 min-[425px]:mx-7">
      <p class="slavonic text-7xl text-(--secondary)">
        {i.number}<span class="ml-1 text-(--detail) text-sm">{i.equivalent}</span>
      </p>
      <p class="max-[425px]:text-[12px] min-[425px]:text-sm">{i.pronunciation}</p>
    </div>
    )}
  </div>
</Layout>
