---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Slova - Casos Gramaticais";
import alphabet from '../data/alfabeto.json';
import words from '../data/palavras.json';
import sections from '../data/trechos.json';
import numerals from '../data/numerais.json';
---
<Layout pageTitle={pageTitle}>
  <h1 class="text-5xl sm:text-4xl md:text-6xl lg:text-7xl font-bold text-center mb-2 mt-5">
   Introdução ao Eslavo Eclesiástico
  </h1>
  <p class="text-center mb-10">
    <a href="/slova/" class="text-(--detail) hover:underline text-sm">
      Voltar ao início
    </a>
  </p>
  <h2 class="text-3xl font-bold text-center mb-3">
    Alfabeto
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Letra</th>
	  <!--<th class="px-4 py-2">Nome</th>-->
          <th class="px-4 py-2">Equivalência Fonética</th>
          <th class="px-4 py-2">Exemplo</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{alphabet.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.letter}</td>
	  <!--<td class="px-4 py-2">{i.name}</td>-->
	  <td class="px-4 py-2">{i.phoneticEquivalency}</td>
	  <td class="px-4 py-2 slavonic">{i.example}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
      <caption class="caption-bottom text-start text-(--detail) text-sm">
	¹ Lê-se "piêdade", "ôtôrrino"; <a class="underline" href="#2">veja aqui.</a><br/>
	² *<br/>
	³ Gutural, <a class="underline" href="#3">veja aqui.</a><br/>
	⁴ Som "sh" mais forte, em comparação com o anterior "x".<br/>
	⁵ Gutural, <a class="underline" href="#3">veja aqui.</a><br/>
      </caption>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Notas da Transliteração
  </h2>
  <div class="margin-x-auto text-white text-lg">
    <p>
      <span id="1" class="slavonic text-(--secondary) text-3xl">№.</span> 
      No Eslavo Eclesiástico, palavras de grande solenidade, ou usadas frequentemente, são abreviadas nos livros litúrgicos. Isso é reconhecido pela acentuação em algum lugar da palavra, como: <span class="slavonic text-2xl">9, D, рb, жc, цd</span>.<br/>
      <span class="slavonic text-2xl ml-3">Б9е → Боже</span><br/>
      <span class="slavonic text-2xl ml-3">ГDи → Господи</span><br/>
      <span class="slavonic text-2xl ml-3">Трbце → Троице</span><br/>
      <span class="slavonic text-2xl ml-3">Бцdе → Богородце</span><br/>
      <span class="slavonic text-2xl ml-3">Дв7о → Дево</span><br/>
      <span class="slavonic text-2xl ml-3">С™hй → Свzтhй</span><br/>
      <span class="slavonic text-2xl ml-3">Нб7си → Небеси</span><br/>
    </p>
    <p class="mt-5">
      <span id="2" class="slavonic text-(--secondary) text-3xl">в7</span> 
      As vogais no Eslavo devem ser lidas de maneira fechadas (/e/ e não /ɛ/), sempre que possível: "Gôspôd", não "Góspod"; "Pômilui", não "Pómilui"; "Stradániiê", não "Stradániié".
    </p>
    <p class="mt-5">
      <span id="3" class="slavonic text-(--secondary) text-3xl">G.</span> 
      Existem sons guturais no Eslavo que são desconhecidos pelo Português. Dois dos mais proeminentes são o "<span class="slavonic text-2xl">Х х</span>" (algo como /ʁ/) e o "<span class="slavonic text-2xl">Ы ы</span>" (algo como /ɨ/).<br/>
      <span class="slavonic text-2xl ml-3">Христосъ, сохрани → </span>Aqui, o som é semelhante ao ca[rr]o do Espanhol. Transliterarei como "ʁ" (ʁristos, Soʁrani). Muitas vezes lê-se "Khristos".<br/>
      <span class="slavonic text-2xl ml-3">Сыну, С™hй → </span>Aqui, o som é semelhante ao m[y]th do Inglês: um som entre o "u" e o "i", com proeminência do "i". Transliterarei como "y" (Synu, Sviatýi).<br/>
    </p>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Palavras comuns dos Serviços Litúrgicos
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Palavra</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{words.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.word}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Trechos comuns dos Serviços Litúrgicos
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Texto</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{sections.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.section}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Numerais
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Numeral</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{numerals.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.number}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.equivalent}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
</Layout>
