---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Slova - Casos Gramaticais";
import alphabet from '../data/alfabeto.json';
import words from '../data/palavras.json';
import sections from '../data/trechos.json';
import numerals from '../data/numerais.json';
---
<Layout pageTitle={pageTitle}>
  <h1 class="text-5xl sm:text-4xl md:text-6xl lg:text-7xl font-bold text-center mb-2 mt-5">
   Introdução ao Eslavo Eclesiástico
  </h1>
  <p class="text-center mb-10">
    <a href="/slova/" class="text-(--detail) hover:underline text-sm">
      Voltar ao início
    </a>
  </p>
  <h2 class="text-3xl font-bold text-center mb-3">
    Alfabeto
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Letra</th>
          <th class="px-4 py-2">Nome</th>
          <th class="px-4 py-2">Equivalência Fonética</th>
          <th class="px-4 py-2">Exemplo</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{alphabet.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.letter}</td>
	  <td class="px-4 py-2">{i.name}</td>
	  <td class="px-4 py-2">{i.phoneticEquivalency}</td>
	  <td class="px-4 py-2 slavonic">{i.example}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
      <caption class="caption-bottom text-start text-(--detail) text-sm">
	¹ Lê-se "piêdade". Os sons de "o" e "e" são lidos "fechados" no eslavo.<br/>
	² dz<br/>
	³ Gutural, desconhecido no português. Semelhante ao ca[rr]o do espanhol. Transliterarei como "ʁ", "RR" ou "χ".<br/>
	⁴ Som "sh" mais forte, em comparação com o anterior "x".<br/>
	⁵ Gutural, desconhecido no português. Semelhante ao m[y]th do inglês (som entre "i" e "u", "ui"). Transliterarei como "y".
      </caption>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Palavras comuns dos Serviços Litúrgicos
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Palavra</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{words.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.word}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Trechos comuns dos Serviços Litúrgicos
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Texto</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{sections.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.section}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.translation}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
  <h2 class="text-3xl font-bold text-center mt-10 mb-3">
    Numerais
  </h2>
  <div class="overflow-x-auto">
    <table class="w-full table-auto border-collapse text-center text-sm sm:text-md md:text-lg lg:text-xl">
      <thead>
        <tr>
          <th class="px-4 py-2">Numeral</th>
          <th class="px-4 py-2">Transliteração</th>
          <th class="px-4 py-2">Tradução</th>
        </tr>
      </thead>
      <tbody>
	{numerals.map((i) =>
        <tr>
	  <td class="px-4 py-2 slavonic text-3xl">{i.number}</td>
	  <td class="px-4 py-2">{i.pronunciation}</td>
	  <td class="px-4 py-2">{i.equivalent}</td>
        </tr>
	)}
      </tbody>
    </table>
  </div>
</Layout>
